
.myfooter{

  background-color:    black !important;
 
  color: #ffffff;


}


#textnav{
  color: aliceblue;

}


.jumbotron {
    background-image: url("../image/mainclock.jpg");
    background-size: cover;
  }
  

